.contenedor-creation{
    background-color: #9c89b8;
    background-size: cover;
    width: 100vw;
    height: 100vw;
    
    justify-content: center;
    align-items: center;
  }
  
  .contenedor-form{
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    background-color: #f0a6ca;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;  
    flex-direction: column;
    
  }
  .form{  
    justify-content: center;
    align-items: center; 
    width: 300px;
  }
  
  .label{
  font-size: 22px;
  font-weight: bold;
  }
  .input-form{
    font-size: 1.2rem; 
    height: 30px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
  }
  .error-form{
    margin-left: 30%;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #03045e;
  color: red;
  }
  
  .volver{
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    
}
.volver:hover {
    background-color:#5cbf2a;

}

.agregar{
    background-color:#8245c7;
	border-radius:28px;
	border:1px solid #7619ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #db25a1;
}

.agregar:hover{   
     background-color:#a02abd;   
}

.agregar:active {
    position:relative;
    top:1px;
}