.searchContainer{
    display: flex;
    justify-content: center;
 }
 
 .searchBox {
    position: relative; 
    background-color: #44c767;
    color: #fff;
    height: 50px;
    border-radius: 28px;
 }
 
 .searchButton {
     height: 80%;
     position: absolute;
     right: 0;
     top: 0;
     cursor: pointer;
     border-radius: 28px;
     border: none;
     background: none;
     background-color: #44c767;
    color: #fff;
 }
 .searchInput{
   font-size: 1.2rem; 
   height: 35px;
   border-radius: 10px;
   padding: 5px 30px 5px 10px;
  
 }
 
 