@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: snow;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align:  center;
}
.header {
    grid-area: header;
    background-color: #05b8e4;
}

.nav {
    grid-area: nav;
    background-color: #07cd87;
}

.sidebar {
    grid-area: sidebar;
    background-color: #ff8ea1;
}

.main {
    grid-area: main;
    background-color: #9c89b8;
}

.footer {
    grid-area: footer;
    background-color: #8c96a0;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "sidebar"
    "footer";
}

@media (min-width: 600px){
    .grid-container {
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        /* grid-template-areas: 
        "header header"
        "nav nav"
        "sidebar main"
        "footer footer"; */

        grid-template: 
        "header header" auto
        "nav nav"       50px
        "main sidebar"  auto
        "footer footer" 100px / 
        auto 200px    ;
    }
}

@media (min-width: 900px){
    .grid-container {
        /* grid-template-columns: 200px auto 200px;
        grid-template-rows: 100px 50px auto 100px; */
        /* grid-template-areas: 
        "header header"
        "nav nav"
        "sidebar main"
        "footer footer"; */

        grid-template: 
        "header header " auto  
        "nav nav"      auto
        "main sidebar"  auto
        "footer footer " 100px / 
        auto 200px     ;
    }
}