.ul {
    text-decoration: none;
    align-items: center;
    padding: 1%;
   
}

.div{
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    
}

.boton-paginado {
    
    background-color: #03045e;
    width: 45px;
    height: 35px;
    color: #fff;
    padding: 2px;
    border: none;
    cursor: pointer;
    
    border-radius: 10%;
    list-style:none;
    justify-content: space-evenly;
    align-items: center;
}

.li{
    color: #03045e;
    list-style: none;
    padding: 1px;
    font-size: 16px;
    
    text-align: center;
}
.link {
    color: #fff;
    display:inline-flex;
    padding: 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    background-color: #03045e;
    border-radius: 10%;
    list-style:none;
    width: 10px;
    height: 10px;
    font-size: 12px;
    align-items: center;
  }   
  
.link:hover {
    opacity: 0.8;
}  
